@font-face {
    font-family: ProductSans;
    src: url("../fonts/productSans/Product-Sans-Bold-Italic.ttf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: ProductSans;
    src: url("../fonts/productSans/Product-Sans-Bold.ttf");
    font-weight: 500;
    font-weight: bold;
    font-style: inherit;
}

@font-face {
    font-family: ProductSans;
    src: url("../fonts/productSans/Product-Sans-Italic.ttf");
    font-weight: medium;

    font-style: italic;
}
@font-face {
    font-family: ProductSans;
    src: url("../fonts/productSans/Product-Sans-Regular.ttf");
    font-weight: normal;
    font-style: inherit;
}
a[href^="https://"],
a[href^="http://"]
{
    color: #2563eb;
}
a[href^="#"] {
    color: #2563eb;
}
a[href^="#"]:after {
    content: " #";
}
#main-header.sticky .header-search-form {
    display: none;
}
.home__swiper-container .swiper-button-prev,
.home__swiper-container .swiper-button-next {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    color: #000000;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    font-size: 14px;
}

/* width */
.vertical__menulist-tabs::-webkit-scrollbar,
.vertical__menulist-panels-inner::-webkit-scrollbar {
    width: 6px;
}

/* Track */
.vertical__menulist-tabs::-webkit-scrollbar-track,
.vertical__menulist-panels-inner::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
.vertical__menulist-tabs::-webkit-scrollbar-thumb,
.vertical__menulist-panels-inner::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 6px;
}

/* Handle on hover */
.vertical__menulist-tabs::-webkit-scrollbar-thumb:hover,
.vertical__menulist-panels-inner::-webkit-scrollbar-thumb:hover {
    background: #ededed;
    cursor: pointer;
}
.vertical__menulist-wrapper .overlay,
.vertical__menulist-wrapper .vertical__menulist-inner,
.header__bottom-menu-cat .transition-icons {
    transition: all linear 240ms;
}
.header__bottom-menu-cat:not(.show) .vertical__menulist-wrapper {
    pointer-events: none;
}

.header__bottom-menu-cat:not(.show) .vertical__menulist-inner {
    opacity: 0;
    transform: translateY(10px);
}
.header__bottom-menu-cat:not(.show) .overlay {
    opacity: 0;
}

.header__bottom-menu-cat.show .transition-icons {
    transform: translateY(-20px);
}
.vertical__panel-item:not(.active) {
    display: none;
}

/*==========woo==========*/
.archive-layout__bar .woocommerce-notices-wrapper {
    width: 100%;
}

.woocommerce-pagination .page-numbers,
.dvutail__paginations .page-numbers {
    display: flex;
    align-items: center;
    justify-content: center;
}
.woocommerce-pagination .page-numbers li a,
.woocommerce-pagination .page-numbers li span,
.dvutail__paginations .page-numbers a,
.dvutail__paginations .page-numbers span {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    color: #000000;
}
.woocommerce-pagination .page-numbers li a:hover,
.woocommerce-pagination .page-numbers li a span:not(.current):hover,
.dvutail__paginations .page-numbers li a:hover,
.dvutail__paginations .page-numbers li span:not(.curent):hover {
    cursor: pointer;
    background-color: white;
    box-shadow: 1px 1px 4px -1px rgb(0 0 0 / 30%);
}
.woocommerce-pagination .page-numbers li .current,
.dvutail__paginations .page-numbers li .current {
    background-color: white;
    box-shadow: 1px 1px 4px -1px rgb(0 0 0 / 30%);
}
.single-product-gallery-thumbs .swiper-slide {
    border: 2px solid white;
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
}
.single-product-gallery-thumbs .swiper-slide img {
    border-radius: 6px;
}
.single-product-gallery-thumbs .swiper-slide-thumb-active {
    border-color: #4172ee;
}
.dvu__single-product-description p,
.dvu__single-product-description ul {
    margin-bottom: 15px;
}
.dvu__single-product-description ul {
    list-style-type: disc;
    padding-left: 25px;
}
.dvu__single-product-description ul li::marker {
    color: gray;
}
.merque-benefit:hover > div {
    animation-play-state: paused;
}

.comment-info img {
    border: 1px solid #e5e7eb;
    padding: 3px;
    border-radius: 50%;
}

#commentform .form-submit input[name="submit"] {
    background-color: #facd16;
    border-radius: 3px;
    width: 180px;
    padding: 10px 15px;
    cursor: pointer;
}

#commentform .comment-form-cookies-consent {
    margin-bottom: 16px;
    font-size: 14px;
}
#commentform .stars > span {
    display: flex;
    align-items: center;
    gap: 12px;
}
#commentform .stars > span > a {
    width: 32px;
    height: 32px;
    border: 1px solid #f6f9fc;
    background-color: #f6f9fc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}
#commentform .stars > span > a:after {
    content: "";
}
#commentform .stars > span > a.active,
#commentform .stars > span > a:hover {
    border-color: #e11d48;
}
.comment-form-rating label {
    margin-bottom: 12px;
    display: inline-block;
}
.comment-form-rating {
    margin-bottom: 16px;
}

.comment-reply-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 16px;
    display: block;
}
/*==content==*/
.dvutail-single-post__body {
    line-height: 1.8;
}

.dvutail-single-post__body p,
.dvutail-single-post__body ul,
.dvutail-single-post__body .wp-block-image,
.dvu__payment-method-note p,
.dvu__payment-method-note ul {
    margin-bottom: 15px;
}
.dvutail-single-post__body ul,
.dvu__payment-method-note ul {
    list-style-type: disc;
    padding-left: 25px;
}

/*======================= start cart page =======================*/
.quantity input[type="number"] {
    -moz-appearance: textfield;
}
.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* .shop_table tr td {
    padding: 6px 12px;
} */
.cart_item {
}
.cart_item .product-thumbnail a {
    display: inline-block;
    width: 60px;
    height: 60px;
    border: 1px solid #f1f1f1;
    padding: 10px;
    border-radius: 50%;
    overflow: hidden;
}
/* .shop_table-body > .cart_item:nth-child(2n + 1) {
    background-color: #f6f9fc;
} */
.cart_item .product-thumbnail img {
}
.cart_item .product-quantity .quantity input {
    max-width: 60px;
}
.cart_item .product-quantity label {
    display: none;
}
.cart_item .product-subtotal {
}
.cart-collaterals {
}
.cart-collaterals .woocommerce-shipping-methods {
    list-style-type: none;
    padding: 12px;
    border-radius: 8px;
    background-color: #ffff;
}
button[name="update_cart"]:disabled {
    opacity: 0.3;
}
.cart_item a {
    color: #000000;
}
a.shipping-calculator-button:after {
    content: "";
}
/*======================= end cart page =========================*/

/*======================= start checkout page =========================*/
.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.form-row {
    margin-bottom: 16px;
}
.form-row label {
    display: inline-block;
    margin-bottom: 8px;
}
.form-row label .required {
    color: red;
}
.form-row .woocommerce-input-wrapper {
    display: block;
}
.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="tel"],
.form-row input[type="password"] {
    border-radius: 6px;
    border-color: #cdcdcd;
    padding: 8px 12px;
    height: 42px;
    width: 100%;
}
.select2-container--default .select2-selection--single {
    border-color: #cdcdcd;
    height: 42px;
    display: flex;
    align-items: center;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    padding-left: 12px;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    width: 41px;
    height: 41px;
    border-radius: 6px;
}
.dvu__checkout-billing .form-row,
.dvu__checkout-shipping .form-row {
    width: 50%;
}
.dvu__checkout-shipping
    .woocommerce-additional-fields__field-wrapper
    .form-row {
    width: 100%;
}
/* .dvu__checkout-billing .form-row.form-row-wide {
    width: 100%;
} */
.woocommerce-billing-fields__field-wrapper .form-row,
.woocommerce-shipping-fields__field-wrapper .form-row {
    padding-left: 12px;
    padding-right: 12px;
}
.woocommerce-account-fields .create-account {
    display: flex;
    flex-wrap: wrap;
}
.woocommerce-account-fields .create-account .form-row {
    padding-left: 12px;
    padding-right: 12px;
}
.woocommerce-input-wrapper {
    display: block;
}
.woocommerce-additional-fields__field-wrapper .form-row {
    width: 100%;
}
.woocommerce-additional-fields__field-wrapper textarea {
    width: 100%;
    border-radius: 6px;
    border-color: #cdcdcd;
}

/*======================= end checkout page =========================*/

/*======================= Start Mobile menu =========================*/
.menu-primary-mobile:not(.show) {
    /* display: none; */
    opacity: 0;
    pointer-events: none;
    z-index: -1;
}
.primary__mobile__menu-container {
    transition: all linear 240ms;
}
.menu-primary-mobile.show .primary__mobile__menu-container {
    transform: translateY(0);
    opacity: 1;
}
.menu-primary-mobile:not(.show) .primary__mobile__menu-container {
    transform: translateY(100%);
    opacity: 0;
}
/*======================= end Mobile menu =========================*/

.woocommerce-orders-table__cell-order-total del {
    opacity: 0.6;
    display: block;
}
.woocommerce-orders-table__cell-order-total ins,
.woocommerce-orders-table__cell-order-total .woocommerce-Price-amount {
    text-decoration: none;
    font-weight: bold;
    display: block;
}

.woocommerce-MyAccount-navigation li.is-active {
    background-color: #f2f8fe;
}

/*======================= start Footer menu =========================*/
.footer__last a,
.breadcrumbs a,
.product-card a,
.woocommerce-orders-table__cell-order-number a,
.menu-item a {
    color: #000000;
}

/*======================= end Footer menu =========================*/

@media screen and (max-width: 975px) {
    .dvu__checkout-billing .form-row,
    .dvu__checkout-shipping .form-row {
        width: 50%;
    }
    .form-row label {
        font-size: 14px;
    }
    .woocommerce-account-fields .form-row {
        width: 100%;
    }
}
