@font-face {
    font-family: Monsterat;
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
    font-weight: bold;
    font-style: inherit;
}
@font-face {
    font-family: Monsterat;
    src: url("../fonts/Montserrat/Montserrat-BoldItalic.ttf");
    font-weight: 500;
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Monsterat;
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
    font-weight: medium;
    font-style: inherit;
}
@font-face {
    font-family: Monsterat;
    src: url("../fonts/Montserrat/Montserrat-MediumItalic.ttf");
    font-weight: medium;
    font-style: italic;
}
@font-face {
    font-family: Monsterat;
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
    font-weight: normal;
    font-style: inherit;
}
@font-face {
    font-family: Monsterat;
    src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
    font-weight: 500;
    font-style: inherit;
}
@font-face {
    font-family: Monsterat;
    src: url("../fonts/Montserrat/Montserrat-SemiBoldItalic.ttf");
    font-weight: 500;
    font-style: italic;
}
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Monsterat;
    font-size: 14px;
}

/*===========primary menu===========*/
.menu-primary-desktop > li,
.menu-primary-desktop > li > a {
    height: 100%;
}
.menu-primary-desktop > li > a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;
}

.menu-primary-desktop > li > a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px 3px 0 0;
    background-color: #f97316;
    opacity: 0;
}
.menu-primary-desktop > li:hover > a {
    color: #f97316;
}
.menu-primary-desktop > li:hover > a:after {
    opacity: 1;
}
.menu-primary-desktop > li .menu-item .nav-link {
    display: inline-flex;
}

.slick-slider .slick-arrow {
    position: absolute;
    top: calc(50% - 20px);
    cursor: pointer;
    z-index: 2;
}
.slick-slider .slick-next {
    right: -46px;
}
.slick-slider .slick-prev {
    left: -46px;
}
.activity__layout-head .slick-slider .slick-prev {
    left: 30px;
}
.activity__layout-head .slick-slider .slick-next {
    right: 30px;
}
.activity__layout-head .slick-slider svg,
.activity__layout-head .slick-slider svg path {
    stroke: white !important;
}

.main__footer {
    background-color: #fff;
    box-shadow: 0px -4px 10px -6px rgb(0, 0, 0, 20%);
}

/*====post paginations=====*/
.paginations {
    display: flex;
    align-items: center;
    justify-content: center;
}
.paginations ul {
    display: flex;
    align-items: center;
    justify-items: center;
}
.paginations li .page-numbers:not(.prev, .next) {
    width: 40px;
    height: 40px;
    border: 1px solid #dbdbdb;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
}
.paginations li .page-numbers:not(.current) {
    color: #6b6b6b;
}
.paginations li .page-numbers.current {
    background: linear-gradient(to top, #3b5aa7, #3fa9df);
    color: white;
    border-width: 0;
}
.paginations li + li {
    margin-left: 12px;
}

/*===========start mobile menu=============*/
.primary__mobile__menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.primary__mobile__menu-items {
    height: 100%;
    overflow-y: auto;
}
.primary__mobile__menu:not(.show) {
    pointer-events: none;
    opacity: 0;
}
.primary__mobile__menu-wrapper {
    transition: all linear 240ms;
}
.primary__mobile__menu:not(.show) .primary__mobile__menu-wrapper {
    transform: translateX(-320px);
}

/*===========end mobile menu=============*/
select {
    /* reset */
    position: relative;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.custom-select {
    position: relative;
}
.custom-select:after {
    content: "";
    position: absolute;
    right: 15px;
    width: 8px;
    height: 8px;
    border-left: 1px;
    border-bottom: 1px;
    border-style: solid;
    border-color: #b7b7b7;
    top: calc(50% - 6px);
    transform: rotate(-45deg);
}

.checkbox-control input:checked ~ label {
    border-color: #ea6f21;
    background-color: #ffb28724;
}

.input-radio,
.input-checkbox {
    width: 18px;
    height: 18px;
    display: inline-block;
    border: 1.5px solid #f26d21;
    position: relative;
}
.input-radio:after,
.input-checkbox:after {
    content: "";
    position: absolute;
    background-color: transparent;
    width: 12px;
    height: 12px;
    left: calc(50% - 6px);
    top: calc(50% - 6px);
}
.input-radio:has(input:checked):after,
.input-checkbox:has(input:checked):after {
    background-color: #f26d21;
}

.input-radio,
.input-radio:after {
    border-radius: 50%;
}
/*======shortcode popup content ==========*/
.popup__content {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
}
.popup__content:not(.show) {
    display: none;
    pointer-events: none;
}

.dvu__report-tab {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.dvu__report-tab-item {
    background: linear-gradient(to top, #3b5aa7, #3b65af, #3d85c5, #3fa9df);
    padding: 1px;
    height: 40px;
    width: 240px;
    text-align: center;
}
.dvu__report-tab-item + .dvu__report-tab-item {
    margin-left: 24px;
}
.dvu__report-tab-item-inner {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dvu__report-tab-item.active .dvu__report-tab-item-inner {
    background-color: transparent;
}
.dvu__report-tab-item:not(.active) .label {
    background: linear-gradient(to top, #3b5aa7, #3b65af, #3d85c5, #3fa9df);
    color: transparent;
    background-clip: text;
}
.dvu__report-tab-item.active .label {
    color: #fff;
    background: none;
}
.dvu__report-panel:not(.active) {
    display: none;
}

.article__report-panel:not(.active) {
    display: none;
    pointer-events: none;
}
.article__report-tab.active {
    background: linear-gradient(to top, #3b5aa7, #3b65af, #3d85c5, #3fa9df);
    color: white;
}
